<div class="card-post">
      <div class="card-title primaryOVRD">
            <div class="left">
                  <h4>{{title}}</h4>
            </div>
            <div class="middle">
                  <h7>{{user.username}}</h7>
                  <h7 class="text-muted">
                        {{format_date createdAt}}
                        {{#compareDate createdAt updatedAt}}
                        <span>**UPDATED**</span>
                        {{/compareDate}}
                  </h7>
            </div>
            <div class="right"> 
                  <span class="material-icons" style="{{style currentUser user.id}}">edit</span>
                  <span class="material-icons" style="{{style currentUser user.id}}">delete_outline</span>
            </div>
      </div>
      <div class="card-body">
            <p class="card-text">{{comment}}</p>
      </div>
</div>