<div class="card-post">
  <div class="card-title">
    <div class="left">
      <h7>{{user.username}}</h7>
      <h7 class="text-muted">
        {{format_date createdAt}}
        {{#compareDateINV createdAt updatedAt}}
        <span>**UPDATED**</span>
        {{/compareDateINV}}
      </h7>
    </div>
    <div class="middle">
      <h4>{{title}}</h4>
    </div>
    <div class="right">
      <a class="bttn material-icons" href="/post/edit/{{id}}" style="{{style currentUser user.id}}">edit</a>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{post}}</p>
    <div>
      <h6>Comments</h6>
      {{#compareValues currentUser currentUser}}
      {{>create-comment postId = ../id }}
      {{/compareValues}}
      {{#if comments}}
      <div class="card-holder">
        {{#each comments as |comment|}}
        {{>comment-card currentUser=../currentUser}}
        {{/each}}
      </div>

      {{else}}
      <p class="text-muted">NO COMMENTS</p>
      {{/if}}
    </div>
  </div>
</div>